/* General page styling */
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
  }
  
  .home-page {
    text-align: center;
  }
  
  /* Navbar styling */
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e37777; /* Navbar background color */
    padding: 15px 20px;
  }
  
  .navbar-logo {
    height: 50px;
    width: auto; /* Adjust the logo size */
  }
  
  .navbar-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .navbar-menu li {
    margin-left: 20px;
  }
  
  .navbar-menu a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  
  .navbar-menu a:hover {
    border-bottom: 2px solid white; /* Add an underline effect on hover */
  }
  
  /* Hero Section Styling */
  .hero-section {
    padding: 100px 20px;
    background-image: url('/images/hero-background.jpg'); /* Background image for hero section */
    background-size: cover;
    color: white;
  }
  
  .hero-section h1 {
    font-size: 3em;
    margin-bottom: 20px;
  }
  
  .hero-section p {
    font-size: 1.5em;
  }
  
  /* Footer Styling */
  .footer {
    background-color: #333;
    color: white;
    padding: 5px;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
  }
  